<link rel="stylesheet" href="/css/navbar.css">

<div class="nav">
    <div class="leftNav">
        <a href="/">
        <h1 class="logo">✍️TrackMyHabits</h1> 
        </a>
    </div>

    <!-- <div class="rightNav">
        <div class="user">
        <a href="/">
            <img
            alt="userDP"
            src="https://th.bing.com/th/id/OIP.M4cV2XkzqBU0CZK4efhDsgHaHa?pid=ImgDet&rs=1"
            class="userDp"
            />
        </a>
        <span>Yashwant</span>
        </div>

        <div class="navLinks">
        <ul>
            <li>
            <a href="/login">Log in</a>
            </li>
            <li>
            <a href="/">Log out</a>
            </li>
            <li>
            <a href="/">Register</a>
            </li>
        </ul>
        </div>
    </div> -->
</div>